@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  /* background-color: hsl(0, 0%, 100%); */
  font-family: "Mukta Vaani";
}
body {
  background-color: #1d2a44;
}

.Sidebar {
  height: 100%;
  width: 300px;
  background-color: #2b3467;
  color: #fcffe7;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
}
.MainTitle {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 1000;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .SidebarElement {
  width: 100%;
  height: 70px;
  list-style: none;
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.SidebarList .SidebarElement:hover {
  cursor: pointer;
  background-color: #eb455f;
}

.SidebarList #active-sidebar-element {
  background-color: #eb455f;
}

.SidebarElement #sidebar-icon {
  flex: 20%;
  display: grid;
  place-items: center;
}

.SidebarElement #sidebar-title {
  flex: 70%;
}

.Page {
  margin-left: 40px;
  margin-top: 40px;
}

.TimesheetForm {
  border: 2px solid #2b3467;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #bad7e9;
}

.TimePicker {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.TimePicker label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.TimePicker input,
.weekInputContainer input {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  margin-left: 5px;
}

button {
  display: inline-block;
  padding: 6px 6px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #eb455f;
  color: #fcffe7;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px;
}

th {
  background-color: #fcffe7;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #fcffe7;
}

.align-h {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.align-h h2 {
  margin: 0;
}

.weekInputContainer {
  display: inline-flex;
  align-items: center;
}

.weekInputContainer input {
  margin-right: 0.5rem;
}

.weekInputContainer button {
  margin-left: 0.5rem;
}

.TimesheetForm form table {
  background-color: #fcffe7;
}

.projectNameInput {
  margin-left: 1.5rem;
}
